<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../Store/etc/config.xsd">
    <default>
        <sw_dailydeal>
            <general>
                <dailydeal_enabled>1</dailydeal_enabled>
            </general>
        </sw_dailydeal>
    </default>
</config>
