<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="ModernRetail_Import::index" title="Integrator" module="ModernRetail_Import" sortOrder="10" parent="ModernRetail_Base::root" action="mrimport/import/index/" resource="ModernRetail_Import::index"/>
        <add id="ModernRetail_Import::settings" title="Integrator Settings" module="ModernRetail_Import" sortOrder="10" parent="ModernRetail_Base::root" action="mrimport/import/settings/" resource="ModernRetail_Import::index"/>
    </menu>
</config>
