<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">

    <event name="order_cancel_after">
        <observer name="cancel_emails_mr_Admin" instance="ModernRetail\CancelEmails\Observer\CancelEmails" />
    </event>



</config>