# 2020-05-22 Dmitry Fedyuk https://www.upwork.com/fl/mage2pro
# http://stackoverflow.com/questions/987142
# http://stackoverflow.com/questions/9162919
# http://stackoverflow.com/questions/8024924#comment15884195_8025106
*
!*/
!/.editorconfig
!/.gitignore
!/composer.json
!/readme.md
!/app/code/**/*
!/app/design/frontend/Smartwave/**/*
!/app/etc/config.php
# 2020-05-23 Dmitry Fedyuk https://www.upwork.com/fl/mage2pro
# "The `php update/cron.php` command is slow (it takes about 100 seconds to finish)":
# https://github.com/masterwholesale-com/site/issues/16
!/update/app/code/Magento/Update/CronReadinessCheck.php
/update/dev
/update/var
# 2020-05-22 Dmitry Fedyuk https://www.upwork.com/fl/mage2pro
# "«No such entity with id = 0» at vendor/magento/framework/Exception/NoSuchEntityException.php:50":
# https://github.com/masterwholesale-com/site/issues/3
!/vendor/magento/framework/Exception/NoSuchEntityException.php
# 2020-05-22 Dmitry Fedyuk https://www.upwork.com/fl/mage2pro
# "«Registry key "current_product" already exists» at vendor/magento/framework/Registry.php:60":
# https://github.com/masterwholesale-com/site/issues/8
!/vendor/magento/framework/Registry.php
# 2020-05-22 Dmitry Fedyuk https://www.upwork.com/fl/mage2pro
# "Add the `vendor/magento/framework/Serialize/Serializer/Json.php` file
# (modified by someone at `2020-05-19 13:48:41 -07`) to the source control":
# https://github.com/masterwholesale-com/site/issues/6
!/vendor/magento/framework/Serialize/Serializer/Json.php
# 2020-05-22 Dmitry Fedyuk https://www.upwork.com/fl/mage2pro
# "How to fix the «Invalid template file» / «require_js.phtml» failure of Magento 2.3.x in Windows?"
# https://mage2.pro/t/5774
!/vendor/magento/framework/View/Element/Template/File/Validator.php
# 2020-05-22 Dmitry Fedyuk https://www.upwork.com/fl/mage2pro
# "Add the `vendor/magento/module-configurable-product/Model/Plugin/Frontend/ProductIdentitiesExtender.php` file
# (modified by someone at `2020-04-17 14:44:22 -07`) to the source control":
# https://github.com/masterwholesale-com/site/issues/9
!/vendor/magento/module-configurable-product/Model/Plugin/Frontend/ProductIdentitiesExtender.php
# 2020-05-22 Dmitry Fedyuk https://www.upwork.com/fl/mage2pro
# "«Please correct the country code: .» at vendor/magento/module-directory/Model/ResourceModel/Country.php:46":
# https://github.com/masterwholesale-com/site/issues/2
!/vendor/magento/module-directory/Model/ResourceModel/Country.php
# 2020-05-23 Dmitry Fedyuk https://www.upwork.com/fl/mage2pro
# "«Template file 'header.html' is not found» at vendor/magento/module-email/Model/Template/Config.php":
# https://github.com/masterwholesale-com/site/issues/11
!/vendor/magento/module-email/Model/Template/Config.php
# 2020-05-22 Dmitry Fedyuk https://www.upwork.com/fl/mage2pro
# "«The "…" order ID is incorrect. Verify the ID and try again» at vendor/magento/module-paypal/Model/Ipn.php:143":
# https://github.com/masterwholesale-com/site/issues/7
!/vendor/magento/module-paypal/Model/Ipn.php
# 2020-05-22 Dmitry Fedyuk https://www.upwork.com/fl/mage2pro
# "«Invalid customer address id 28585» at vendor/magento/module-quote/Model/QuoteAddressValidator.php:79":
# https://github.com/masterwholesale-com/site/issues/4
!/vendor/magento/module-quote/Model/QuoteAddressValidator.php
# 2020-05-22 Dmitry Fedyuk https://www.upwork.com/fl/mage2pro
# "Add the `vendor/magento/module-wishlist/Controller/Index/Plugin.php` file
# (modified by someone at `2020-04-21 07:11:49 -07`) to the source control":
# https://github.com/masterwholesale-com/site/issues/10
!/vendor/magento/module-wishlist/Controller/Index/Plugin.php
/dev
/vendor/codeception
/vendor/liquid/liquid/examples
/vendor/liquid/liquid/tests
/vendor/magento/framework/Test
/vendor/magento/magento2-base
/vendor/magento/magento2-functional-testing-framework
/vendor/mpdf
/vendor/tubalmartin
