# 2020-05-22 Dmitry Fedyuk https://www.upwork.com/fl/mage2pro
# http://stackoverflow.com/questions/987142
# http://stackoverflow.com/questions/9162919
# http://stackoverflow.com/questions/8024924#comment15884195_8025106
*
!*/
!/.editorconfig
!/.gitignore
!/composer.json
!/readme.md
!/app/code/**/*
!/app/design/frontend/Smartwave/**/*
!/app/etc/config.php
/update/
# 2020-05-22 Dmitry Fedyuk https://www.upwork.com/fl/mage2pro
# "How to fix the «Invalid template file» / «require_js.phtml» failure of Magento 2.3.x in Windows?"
# https://mage2.pro/t/5774
!/vendor/magento/framework/View/Element/Template/File/Validator.php
# 2020-05-22 Dmitry Fedyuk https://www.upwork.com/fl/mage2pro
# "«Please correct the country code: .» at vendor/magento/module-directory/Model/ResourceModel/Country.php:46":
# https://github.com/masterwholesale-com/site/issues/2
!/vendor/magento/module-directory/Model/ResourceModel/Country.php
/dev
/vendor/codeception
/vendor/liquid/liquid/examples
/vendor/liquid/liquid/tests
/vendor/magento/framework/Test
/vendor/magento/magento2-base
/vendor/magento/magento2-functional-testing-framework
/vendor/mpdf
/vendor/tubalmartin
