<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <!--<add id="ModernRetail_TotalReport::totalreport" title="Total Report" module="ModernRetail_TotalReport" sortOrder="10" parent="ModernRetail_Base::root" action="totalreport/report/totalReport" resource="ModernRetail_TotalReport::totalreport"/>-->
        <add id="ModernRetail_TotalReport::allocatedreport" title="Allocated Report" module="ModernRetail_TotalReport" sortOrder="10" parent="ModernRetail_Base::root" action="totalreport/report/allocatedReport" resource="ModernRetail_TotalReport::totalreport"/>

    </menu>
</config>
