<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="sw_dailydeal" translate="label" type="text" sortOrder="305" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Dailydeal</label>
            <tab>sw_extensions</tab>
            <resource>Smartwave_Dailydeals::config_dailydeals</resource>
            <group id="general" translate="label" type="textarea" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="dailydeal_enabled" translate="label comment" type="select" showInDefault="1" showInWebsite="1" showInStore="1" >
                    <label>Enabled</label>
                    <comment>Enable/Disable the Dailydeals</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
