<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Framework\Pricing\Render\Amount" type="WeltPixel\GoogleCards\Model\Pricing\Render\Amount" />
    <type name="Magento\Review\Block\Product\ReviewRenderer">
        <plugin name="weltpixel-googlecards-product-list-rating-after"
                type="WeltPixel\GoogleCards\Plugin\ReviewRendererPlugin" sortOrder="2"/>
    </type>
</config>
