<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>

        <section id="modernretail_copy_attributes" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>CopyAttributes</label>
            <tab>modernretail</tab>
            <resource>Magento_Catalog::config_modernretail</resource>
            <group id="settings" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Settings</label>

                <field id="is_enabled" translate="label comment" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable copy attributes from configurable to simples</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="attributes" translate="label comment" type="multiselect" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Which attributes ModernRetail should copy for you?</label>
                    <source_model>ModernRetail\CopyAttributes\Model\System\Config\Source\Attributes</source_model>
                </field>

            </group>


        </section>
    </system>
</config>
