<?xml version="1.0"?>
<!--
NOTICE OF LICENSE

This source file is subject to the NekloEULA that is bundled with this package in the file ICENSE.txt.

It is also available through the world-wide-web at this URL: http://store.neklo.com/LICENSE.txt

Copyright (c)  Neklo (http://store.neklo.com/)
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="neklo_makeanoffer" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Make An Offer</label>
            <tab>neklo</tab>
            <resource>Neklo_MakeAnOffer::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Configuration</label>
                <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Module Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="coupon" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Coupon Generate Configuration</label>
                <field id="coupon_lifetime" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Coupon Lifetime</label>
                    <comment>Days</comment>
                    <validate>required-entry validate-number validate-zero-or-greater</validate>
                </field>
                <field id="coupon_prefix" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Coupon Prefix</label>
                    <comment><![CDATA[Prefix before coupon code. Example: <b>PREFIX</b>-COUPON]]></comment>
                </field>
                <field id="coupon_suffix" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Coupon Suffix</label>
                    <comment><![CDATA[Suffix after coupon code. Example: COUPON-<b>SUFFIX</b>]]></comment>
                </field>
                <field id="coupon_length" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Coupon Length</label>
                    <comment>Recommended value is 16</comment>
                    <validate>required-entry validate-number validate-zero-or-greater</validate>
                </field>
                <field id="dash" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Dash Every X Characters</label>
                    <comment>If empty no separation.</comment>
                    <validate>validate-number validate-zero-or-greater</validate>
                </field>
            </group>
            <group id="frontend" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Frontend Settings</label>
                <field id="display" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Display Offer Form As</label>
                    <source_model>Neklo\MakeAnOffer\Model\Source\Display</source_model>
                </field>
                <field id="display_price_tax" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Display Offer Price</label>
                    <source_model>Magento\Tax\Model\System\Config\Source\Tax\Display\Type</source_model>
                    <config_path>tax/display/type</config_path>
                    <backend_model>Magento\Tax\Model\Config\Notification</backend_model>
                </field>
                <field id="button_label" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Button Label</label>
                    <validate>required-entry</validate>
                </field>
                <field id="short_descriptions" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Short Description</label>
                    <validate>required-entry</validate>
                </field>
                <field id="title" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Block/Popup Title</label>
                    <validate>required-entry</validate>
                </field>
                <field id="success_message" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Success Message</label>
                    <validate>required-entry</validate>
                </field>
                <field id="display_another_store_link" translate="label" type="select" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Display "Another Store Link" in Form</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="email" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Email Notification Settings</label>
                <field id="accept_template" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Accept Email Template</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>
                <field id="decline_template" translate="label comment" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Decline Email Template</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>
                <field id="counter_template" translate="label comment" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Counter Offer Email Template</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>
                <field id="enable_notify_customer" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Notify Customer About Created Offer</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="notify_customer_template" translate="label comment" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Notify Customer About Created Offer Template</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>
                <field id="enable_notify_admin" translate="label" type="select" sortOrder="60" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Notify Admin About Created Offer</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="admin_notify_recipients" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Email Recipients for Admin Notify</label>
                    <frontend_model>Neklo\MakeAnOffer\Block\Adminhtml\System\Config\Form\Field\Email</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                </field>
                <field id="notify_admin_template" translate="label comment" type="select" sortOrder="80" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Notify Admin About Created Offer Template</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>
                <field id="identity" translate="label comment" type="select" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Email Sender</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Identity</source_model>
                </field>
            </group>
            <group id="cron" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Cron Settings</label>
                <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Clean Offers with Declined Status</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="delete_after" translate="label comment" type="select" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Clean Offers if Declined Status is Older than</label>
                    <source_model>Neklo\MakeAnOffer\Model\Source\Cron</source_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>