<?xml version="1.0"?>
<!--
NOTICE OF LICENSE

This source file is subject to the NekloEULA that is bundled with this package in the file ICENSE.txt.

It is also available through the world-wide-web at this URL: http://store.neklo.com/LICENSE.txt

Copyright (c)  Neklo (http://store.neklo.com/)
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <neklo_core>
            <contact>
                <reason></reason>
            </contact>
            <notification>
                <feed_url>store.neklo.com/magento-update/magento-2.rss</feed_url>
                <use_https>1</use_https>
                <frequency>24</frequency>
                <last_update>0</last_update>
                <type>UPDATE,RELEASE,UPDATE_ALL,PROMO,INFO</type>
            </notification>
        </neklo_core>
    </default>
</config>
